body{
    background: rgb(89, 89, 223);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.418);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}